/*******************************************************************************
MIXINS & VARIABLES
*******************************************************************************/
@mixin border-box {box-sizing: border-box;}
@mixin clearGroup {&:after {content: ""; display: table; clear: both;}} /*Apply to parent to clear without markup*/
@mixin fontSmooth {-moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }
@mixin hoverDarken($startColor) {transition: background .2s; &:hover {background-color: darken($startColor, 10%);}}
@mixin hoverLighten($startColor) {transition: background .2s; &:hover {background-color: lighten($startColor, 10%);}}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

$sans: 'Montserrat', sans-serif;

$primary-color: #a2282e;    /*Logo Red*/
$secondary-color: #013c4d;  /*Logo Blue*/
$text-color: #808080;

/*******************************************************************************
GENERAL SETUP
*******************************************************************************/
.left {float:left}
.right {float:right}
.clear {clear:both}

* {margin:0; padding:0;}
html,body {height:100%}

body{
	font-family: $sans;
	font-weight:400;
	font-size: 16px;
	line-height: 24px;
	color: $text-color;
	background:#f6f6f6;
}


/*******************************************************************************
TYPOGRAPHY SETUP
*******************************************************************************/
h1 {font-family:$sans; margin-bottom:0px; color:$secondary-color; font-size:24px; line-height:28px; font-weight:700; text-transform:uppercase; letter-spacing:.05em; @include fontSmooth;}
h2 {font-family:$sans; margin-bottom:0px; color:$secondary-color; font-size:18px; line-height:22px; font-weight:700; text-transform:uppercase; letter-spacing:.05em; @include fontSmooth;}


p{margin-bottom:20px;}

a, a img {outline:none; border:none; color:inherit; text-decoration:none;}
a:hover, a:active {text-decoration:none;}

@include placeholder { color:inherit; opacity:0.8;}

/*******************************************************************************
SECTION & WRAPPER SETUP
*******************************************************************************/
#bgWrapper {width:100%; min-height:100%; background:url(images/bg-wrapper.jpg) center bottom no-repeat #f6f6f6; background-size:100% auto; @include clearGroup;}

.row { width:100%; position:relative; float:left; padding:0 3.125%; @include border-box;
	.rowInner { width:100%; max-width:576px; margin:0 auto; @include border-box;}
}
	
/*******************************************************************************
MISC
*******************************************************************************/
.parsley-error {color:#f00 !important; border-color:#F00 !important; text-decoration:blink;}
	.parsley-errors-list {display:none !important;}
	
input[type="text"], input[type="submit"], input[type="button"], input[type="email"], textarea {-webkit-appearance:none;}

.field {width:100%; max-width:400px; height:40px; margin:0 auto 15px auto; padding:9px 20px; border:1px solid #c2c2c2; border-radius:20px; background:#fff; color:$text-color; font-size:16px; line-height:18px; @include border-box; display:block; text-align:center;}

.submit { width:220px; height:40px; margin:0 auto 10px auto; border:none; background:$secondary-color; color:#fff; font-size:16px; line-height:18px; text-align:center; cursor:pointer; text-transform:uppercase; @include border-box; @include hoverLighten($secondary-color); display:block; border-radius:20px;}


/*******************************************************************************
SECTION - INTRO
*******************************************************************************/
#intro {
	.rowInner{ text-align:center; padding:75px 0 35px 0;
		img {max-width:75%; height:auto; padding:0 10px 0 0;} 
	}
}


/*******************************************************************************
SECTION - SIGNUP
*******************************************************************************/
#signup{
	.rowInner{ text-align:center; padding:0 0 30px 0;
	}
}


/*******************************************************************************
SECTION - FOOTER
*******************************************************************************/
#footer{
	.rowInner{ text-align:center; padding:0 0 30px 0;
		i {margin:0 10px; font-size:20px; line-height:38px; width:38px; border:1px solid #c2c2c2; color:#c2c2c2; border-radius:50%;}
	}
}