@charset "UTF-8";
/* CSS Document */

@media only screen 
and (max-width : 480px)
{
/*******************************************************************************
SECTION - INTRO
*******************************************************************************/
#intro .rowInner {padding:25px 0;
	img {margin:0 0 10px 0;}
}

/*******************************************************************************
SECTION - SIGNUP
*******************************************************************************/
#signup .rowInner {padding:0 0 20px 0;}

/*******************************************************************************
SECTION - FOOTER
*******************************************************************************/
#footer .rowInner { text-align:center; padding:0 0 20px 0;}

}

