/************************************************************************
*************************************************************************
@Name :       	Selectyze - jQuery Plugin CSS
@Revison :    	1.0
@Date : 		19/12/2011
@Author:     	Mickael SURREL - ALPIXEL Agency - (www.myjqueryplugins.com - www.alpixel.fr) 
@License :		 Open Source - MIT License : http://www.opensource.org/licenses/mit-license.php
 
**************************************************************************
*************************************************************************/

/***************************/
/** Common to every theme **/
/***************************/
.DivSelectyze {
	position:relative;
	margin:0 0 15px 0;
	max-width:325px;
}

.DivSelectyze .selectyzeValue {
	position:relative;
	z-index:10;
	display:block;
	text-decoration:none;
}

.DivSelectyze ul {list-style:none;}
.DivSelectyze .UlSelectize {
	position:absolute;
	z-index:9999;
	display:none;
}

.DivSelectyze li a {
	display:block;
	text-decoration:none;
}

.optgroupTitle {
	display:block;
}
/*******************************/
/** END COMMON TO EVERY THEME **/
/*******************************/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/




/*----------------------------------
 You can add your own theme below !!
 To add your theme, be sure to have 5 CSS elements :
 
 .your_theme .selectyzeValue {} 		-> Appearance of your select element
 .your_theme .UlSelectize {} 			-> Appearance of the dropdown list
 .your_theme li a {} 					-> Appearance of the items into the dropdown list
 .your_theme li a:hover {} 				-> items on hover
 .your_theme .optgroupTitle {} 			-> Appearance of the optgroup label !! only if you have <optgroup> element into your list 
 
 
 that's all ! \o/
----------------------------------*/

	/* SEC SCORECARD THEME */
	
	.default .selectyzeValue {
		color:$text-color; 
		font-size:16px; 
		line-height:16px;
		text-align:left;
		font-family: $sans;
		font-weight:300;
		padding:11px 5%;
		background:url('images/select-arrow.png') 95%  center no-repeat #fff;
		border:1px solid $text-color;
		width:100%;
		margin:0;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}

	.default .UlSelectize {
		top:39px;
		left:0;
		width:100%;
		border:1px solid #333; border-top:none;
		background-color:#999;
		zoom: 1; filter: alpha(opacity=95); opacity: 0.95;
		padding:0;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		
	}

	.default li a {
		width:90%;
		color:$text-color; 
		font-size:12px; 
		line-height:24px;
		text-align:left;
		padding:0 5%;
		border-top:1px solid #333;
		font-family: $sans;
		font-weight:300;
	}

	.default li a:hover {
		background-color:$primary-color;
		color:#fff;
	}

	.default .optgroupTitle {
		text-align:left;
		font-size:16px;
		color:$text-color;
		font-weight:700;
		padding:15px 0 0 0;
	}
	