/*!
Theme Name: Stoneridge Group Custom Theme
Theme URI: http://www.stoneridgegroup.com
Description: Embrace your Victory.  SRG fully customized theme.
Version: 1.2
Author: Calvin deClaisse-Walford
*/
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
/*******************************************************************************
MIXINS & VARIABLES
*******************************************************************************/
/*Apply to parent to clear without markup*/
/*Logo Red*/
/*Logo Blue*/
/*******************************************************************************
GENERAL SETUP
*******************************************************************************/
.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #808080;
  background: #f6f6f6; }

/*******************************************************************************
TYPOGRAPHY SETUP
*******************************************************************************/
h1 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0px;
  color: #013c4d;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0px;
  color: #013c4d;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

p {
  margin-bottom: 20px; }

a, a img {
  outline: none;
  border: none;
  color: inherit;
  text-decoration: none; }

a:hover, a:active {
  text-decoration: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.8; }

:-moz-placeholder {
  color: inherit;
  opacity: 0.8; }

::-moz-placeholder {
  color: inherit;
  opacity: 0.8; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 0.8; }

/*******************************************************************************
SECTION & WRAPPER SETUP
*******************************************************************************/
#bgWrapper {
  width: 100%;
  min-height: 100%;
  background: url(images/bg-wrapper.jpg) center bottom no-repeat #f6f6f6;
  background-size: 100% auto; }
  #bgWrapper:after {
    content: "";
    display: table;
    clear: both; }

.row {
  width: 100%;
  position: relative;
  float: left;
  padding: 0 3.125%;
  box-sizing: border-box; }
  .row .rowInner {
    width: 100%;
    max-width: 576px;
    margin: 0 auto;
    box-sizing: border-box; }

/*******************************************************************************
MISC
*******************************************************************************/
.parsley-error {
  color: #f00 !important;
  border-color: #F00 !important;
  text-decoration: blink; }

.parsley-errors-list {
  display: none !important; }

input[type="text"], input[type="submit"], input[type="button"], input[type="email"], textarea {
  -webkit-appearance: none; }

.field {
  width: 100%;
  max-width: 400px;
  height: 40px;
  margin: 0 auto 15px auto;
  padding: 9px 20px;
  border: 1px solid #c2c2c2;
  border-radius: 20px;
  background: #fff;
  color: #808080;
  font-size: 16px;
  line-height: 18px;
  box-sizing: border-box;
  display: block;
  text-align: center; }

.submit {
  width: 220px;
  height: 40px;
  margin: 0 auto 10px auto;
  border: none;
  background: #013c4d;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  box-sizing: border-box;
  -webkit-transition: background .2s;
          transition: background .2s;
  display: block;
  border-radius: 20px; }
  .submit:hover {
    background-color: #02637f; }

/*******************************************************************************
SECTION - INTRO
*******************************************************************************/
#intro .rowInner {
  text-align: center;
  padding: 75px 0 35px 0; }
  #intro .rowInner img {
    max-width: 75%;
    height: auto;
    padding: 0 10px 0 0; }

/*******************************************************************************
SECTION - SIGNUP
*******************************************************************************/
#signup .rowInner {
  text-align: center;
  padding: 0 0 30px 0; }

/*******************************************************************************
SECTION - FOOTER
*******************************************************************************/
#footer .rowInner {
  text-align: center;
  padding: 0 0 30px 0; }
  #footer .rowInner i {
    margin: 0 10px;
    font-size: 20px;
    line-height: 38px;
    width: 38px;
    border: 1px solid #c2c2c2;
    color: #c2c2c2;
    border-radius: 50%; }

/* CSS Document */
@media only screen and (max-width: 480px) {
  /*******************************************************************************
  SECTION - INTRO
  *******************************************************************************/
  #intro .rowInner {
    padding: 25px 0; }
    #intro .rowInner img {
      margin: 0 0 10px 0; }

  /*******************************************************************************
  SECTION - SIGNUP
  *******************************************************************************/
  #signup .rowInner {
    padding: 0 0 20px 0; }

  /*******************************************************************************
  SECTION - FOOTER
  *******************************************************************************/
  #footer .rowInner {
    text-align: center;
    padding: 0 0 20px 0; } }

/*# sourceMappingURL=style.css.map */